# node
node_modules/
.expo/
.expo-shared/

# env
.env

.specstory/
.cursorindexing/

# Ignore Cursor editor files
.cursor/
.cursorindexingignore

# system
.DS_Store

.idea/

.git/

backend/venv
backend/config
